<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia minima itaque ratione beatae iusto praesentium, consequuntur natus modi quaerat quasi veniam ullam error dolorum suscipit velit in perspiciatis aperiam rem.</p>
    </div>
</div>