<div class="p-5 mb-4 bg-light">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eveniet et doloremque blanditiis corrupti ab itaque explicabo, iure consequatur praesentium consectetur est modi corporis unde, facere aliquid, exercitationem amet. Non?</p>
    <a href="https://github.com/Romo43/Fernando_Romo.github.io.git" class="btn btn-primary btn-lg" target="_blank">Portafolio</a>
</div>